.modal-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.comment-section input {
  width: 100%;
  padding: var(--spacing-xs);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
}
.opinion-form {
  background: var(--color-bg);
  width: 95%;
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  box-sizing: border-box;
}
.editor-section {
  padding: var(--spacing-lg);
}

.modal-buttons,
.exit-button {
  display: flex;
  justify-content: center;
  gap: var(--spacing-lg);
}
.ql-container {
  min-height: clamp(150px, 30vh, 250px);
  overflow-y: auto;
}
.ql-editor p {
  padding-bottom: var(--spacing-lg);
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}
.modal-buttons button {
  padding: var(--spacing-xs) var(--spacing-sm);
  border: none;
  cursor: pointer;
  border-radius: var(--radius-sm);
  transition: 0.2s ease-in-out;
}

.modal-buttons button:first-child {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

.modal-buttons button:last-child {
  background-color: var(--color-accent-red);
  color: var(--color-secondary);
}
.modal-buttons button:hover {
  opacity: 0.8;
  .modal-overlay {
    background-color: aliceblue;
  }
}
.button-exit {
  width: clamp(120px, 30vw, 180px);
  height: clamp(60px, 10vw, 75px);
}
.modal-editor {
  background: var(--color-bg);
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: clamp(300px, 90vw, 600px);
  height: clamp(250px, 50vh, 300px);
  overflow-y: auto;
}
@media (min-width: 768px) {
  .modal-editor {
    width: 90%;
    height: clamp(200px, 40vh, 250px);
    padding: var(--spacing-md);
  }
  .modal-form {
    width: 60%;
  }
  .button-exit {
    width: clamp(120px, 30vw, 180px);
    height: clamp(60px, 10vw, 75px);
  }
}
